.container {
  background-image: url("./_assets/grid.png");
}

.text {
  background: linear-gradient(160.81deg, #ffffff 12.91%, #b8b8b8 96.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}
